div.geral-metrics-box {
    position: absolute;
    text-align: left;
    width: 150px;
    height: 80px;
    font: 12px sans-serif;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
    border: 1px solid;
    margin: 10px 0px;
    padding: 10px 10px 10px 10px;
    border-color: #9a9a9a;
    background-repeat: no-repeat;
    background-position: 10px center;
    background: rgba(255, 255, 255, 0.5)
}

div.metrics-box {
    position: fixed;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    border-radius: 8px;
    border: 1px solid;
    margin: 10px 0px;
    padding: 10px 10px 10px 10px;
    border-color: #9a9a9a;
    /*background-repeat: no-repeat;*/
    background-position: 10px center;
    background: rgba(255, 255, 255, 0.9)
}

.labels {
    fill: #6B6B6B;
    font-size: 13px;
    font-family: 'Courgette', sans-serif;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

